@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@200;500&display=swap');

*{
  font-family: 'JetBrains Mono', monospace;
}

body{
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg,  #217508, #0c4506, #38ce33, #316125, #23ad0e);
    background-size: 300% 300%;
    position: relative;
    animation: animar 7s ease infinite;
}


.elemento{
  list-style: none;
}

.enlace{
  text-decoration: none;
}

.header{
  box-shadow: 5px 0 5px white;
  margin-bottom: 30px;
}

.article, .aside, .section{
  width: 25%;
  height: 90vh;
}

.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  box-shadow: 2px 0 2px rgba(255, 255, 255, 0.52);
  background-color: #00000035;
  border-radius: 10px;
  padding: 10px;
}

.form input, textarea{
  border-radius: 10px 5px;
  border: none;
  background-color: #00000076;
  color: rgba(255, 255, 255, 0.692);

}

.boton{
  width: 50%;
  border-radius: 10px 5px;
  border: none;
}

.footer{
  width: 100%;
  height: 15vh;
}

.imagen{
  width: 5%;
}

.icono-social{
  width: 50px;
}

.icono-footer{
  width: 10%;
}

@keyframes animar {
  0%{background-position: 0 50%;}
  50%{background-position: 100% 50%;}
  100%{background-position: 0 50%;}
}